# Ignoriere alles
*

# explizit erlaubte Dateien im Root
!.gitignore
!README.md
!openwb.png
!hacs.json

# Erlaube das komplette openwb-Verzeichnis unter custom_components
!custom_components/
!custom_components/openwb/
!custom_components/openwb/**
